button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.mainvideo-btn-open {
    display: block;
    height: 50px;
    margin: 0 auto;
    padding: 0 0 0 65px;
    background: url(../image/bit\ biểu.png) left no-repeat;
    background-size: contain;
    border: none;
}
button, select {
    text-transform: none;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
.mainvideo {
    margin: 80px auto 0;
    text-align: center;
}
.content {
    position: relative;
    text-align: justify;
    background-color: #fff;
    min-height: 400px;
}
/* .two-column-row:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
} */
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.breadcrumbs {
    font-size: 75%;
    background: #13161f;
    color: #929396;
    font-size: 81.25%;
}


/* .container2 {
    max-width: 1230px;
    padding: 0 30px;
    margin:  8%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */
html {
    display: block;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.content {
    position: relative;
    text-align: justify;
    background-color: #fff;
    min-height: 400px;
}
body {
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #646464;
    background-color: #fff;
}


.two-column-row {
    -webkit-box-pack:start;
    -ms-flex-pack: justify;
    justify-content: flex-start;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* .container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */
div {
    display: block;
}
.content {
    position: relative;
    text-align: justify;
    background-color: #fff;
    min-height: 400px;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h1 {
    font-size: 2em;
    margin: 0.9em 0;
    
}
/* .hero-container {
    position: relative;
    padding: 0 40px;
    text-align: right;
} */

/* .hero-container ,inherit{
    front-size: 50px;
} */
/* .container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

body {
    overflow-x:hidden;
	font-family: 'Roboto Condensed', sans-serif;
}

#titleArea h1, #titleArea h2 {
    text-align: center;
    font-size: 72px;
    letter-spacing: -3px;
    transition:font-size 0.2s;
}
#titleArea h2 {
    font-size: 36px;
}

    
 /* @media(max-width:360px){
    .w3_agile_team_grid {
        width: 50%;
        float: left;
        margin-bottom: 2em;
    }
    
    .w3_agile_search {
        width: 61%;
    }
    .footer-wthreegrid {
        width: 92%;
        margin: 0 auto 2em;
    }
    .w3_agileits_sub_work>.agileits_w3layouts_work {
        font-size: 2em;
        top: -15px;
    }
    }
} */

/* @media (max-width: 1200px){
}
@media (min-width: 1200px){
}
@media (max-width: 768px){
}
@media (min-width: 992px){
}
    @media (max-width: 1200px){
} */

.codeBlock{
    border:2px solid #333;
    color:#ccc;
    background:#1a1a1a;
    padding:8px;
}
#exSect{
    padding-left:16px;
    padding-right:16px;
    padding-bottom:48px;
}
#exSect .codeBlock{
    height:200px;
    overflow-y:auto;
    overflow-x:hidden;
}
